<header>
    <h1>
        Details
    </h1>
    <h1>
        <a href="/">
            <svg class="fermer" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M23 20.168l-8.185-8.187 8.185-8.174-2.832-2.807-8.182 8.179-8.176-8.179-2.81 2.81 8.186 8.196-8.186 8.184 2.81 2.81 8.203-8.192 8.18 8.192z" />
            </svg>
        </a>
    </h1>
</header>
<main>
    <div class="details-resume">
        <div class="details-historique">
            <div class="details">
                <div class="detail-ligne">
                    <p class="detail-key">Titre:</p>
                    <p class="detail-value">{{todo.titre}}</p>
                </div>
                <div class="detail-ligne">
                    <p class="detail-key">Description:</p>
                    <p class="detail-value">{{todo.description}}</p>
                </div>
                <div class="detail-ligne">
                    <p class="detail-key">Statut:</p>
                    <p class="detail-value">{{todo.statut}}</p>
                </div>
                <div class="detail-ligne">
                    <p class="detail-key">Priorité:</p>
                    <p class="detail-value">{{todo.priorite}}</p>
                </div>
                <div class="detail-ligne">
                    <p class="detail-key">Date de céation:</p>
                    <p class="detail-value">{{todo.date_creation}}</p>
                </div>
                <div class="detail-ligne">
                    <p class="detail-key">Date limite:</p>
                    <p class="detail-value">{{todo.date_limite}}</p>
                </div>
                <div class="detail-ligne">
                    <p class="detail-key">Assignation:</p>
                    <p class="detail-value">{{todo.assignation}}</p>
                </div>
            </div>
            <div class="bar-separation">

            </div>
            <div class="historique">
                <div class="historique-entete">Historique de la tâche</div>
                {{!-- <template id="todo-template"> --}}
                    <div class="historique-ligne">
                        <p>kfalfldsfjkaf</p>
                    </div>
                    {{!--
                </template> --}}
                <div class="historique-pied">Modifier ou supprimer</div>
            </div>
        </div>
        <div class="div-arrow">
            <svg class="arrow" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2"
                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="m10.978 14.999v3.251c0 .412-.335.75-.752.75-.188 0-.375-.071-.518-.206-1.775-1.685-4.945-4.692-6.396-6.069-.2-.189-.312-.452-.312-.725 0-.274.112-.536.312-.725 1.451-1.377 4.621-4.385 6.396-6.068.143-.136.33-.207.518-.207.417 0 .752.337.752.75v3.251h9.02c.531 0 1.002.47 1.002 1v3.998c0 .53-.471 1-1.002 1z"
                    fill-rule="nonzero" />
            </svg>
        </div>
    </div>
</main>