<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de la Tâche</title>
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <header>
        <h1>Détails de la Tâche</h1>
    </header>
    <main>
        <section>
            <p><strong>titre:</strong> {{titre}}</p>
            <p><strong>description:</strong> {{description}}</p>
            <p><strong>statut:</strong> {{statut}}</p>
            <p><strong>priorite:</strong> {{priorite}}</p>
            <p><strong>date_creation:</strong> {{date_creation}}</p>
            <p><strong>date_limite:</strong> {{date_limite}}</p>
            <p><strong>assignation:</strong> {{assignation}}</p>
            <nav>
                <img src="/images/imgBack" href="/" alt="Image retour">
            </nav>
        </section>
    </main>
</body>

</html>