<header>
    <nav id="conteneur-bouton-header" class="barre_outils">
        <label id="bouton-filtrage">
            <input class="bouton-header" type="button" value="Filtrage">
            <div id="menu-filtrage" class="menu-filtre">
                <button id="filtreFaible" class="filtre-priorite">Faible</button>
                <button id="filtreMoyen" class="filtre-priorite">Moyenne</button>
                <button id="filtreEleve" class="filtre-priorite">Elevée</button>
                <button id="filtreDesactiver" class="filtre-priorite">Désactiver</button>
            </div>
        </label>
        <label id="bouton-trier">
            <input class="bouton-header" type="button" value="Tri par date">
            <div id="menu-trier">
                <p>trie par :</p>
                <label class="option-tri">
                    <input id="trie-date-creation" type="radio" name="trieDate">
                    <p>Date de création</p>
                </label>
                <label class="option-tri">
                    <input id="trie-date-limite" type="radio" name="trieDate">
                    <p>Date limite</p>
                </label>
                <p>ordre :</p>
                <label class="option-tri">
                    <input id="trie-asc" type="radio" name="trieOrdre">
                    <p>Croissant</p>
                </label>
                <label class="option-tri">
                    <input id="trie-desc" type="radio" name="trieOrdre">
                    <p>Decroisant</p>
                </label>
                <input id="valider-tri" class="tri-bouton" type="button" value="Valider">
                <input id="trieDesactiver" class="tri-bouton" type="button" value="Désactiver">
            </div>
        </label>
        <input class="bouton-header" type="button" value="Historique">
        <input class="bouton-header" type="button" value="Utilisateur">

        <input class="bouton-header" id="bouton-connexion" type="button" value="Connexion">

        {{#if utilisateurs}}
        <form method="post" class="bouton-deconnexion"  action="/deconnexion">
            <input type="submit" id="bouton-deconnexion" class="bouton-header" value="Deconnexion" />
        </form>
        {{/if}}

    </nav>
</header>
<main>
    <div id="conteneur-tache">
        {{#each statuts}}
        <div id="statut-{{this.id}}" class="colonne-tache">
            <div class="entete-tache">{{this.nom}}</div>
            <!--utilisation de handlebar helper eq pour pouvoir faire (todo.statut_id == statut.id) -->
            <div class="todo">
                <ul>
                    {{#each ../todos}}
                    {{#if (eq this.statut_id ../this.id)}}
                    <li>
                        <p><a href="/details/{{this.id}}">{{this.titre}}</a></p>
                        <div class="priorite{{this.priorite.id}}"></div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
            <div class="bas-tache">
                <a href="/ajout_tache"><input type="button" class="ajouter-tache" value="+"></a>
            </div>
        </div>
        {{/each}}
    </div>
</main>