<header>
    <nav id="conteneur-bouton-header" class="barre_outils">
        <label id="bouton-filtrage">
            <input class="bouton-header" type="button" value="Filtrage">
            <div id="menu-filtrage" class="menu-filtre">
                <span id="filtreFaible" class="filtre-priorite">Faible</span>
                <span id="filtreMoyen" class="filtre-priorite">Moyenne</span>
                <span id="filtreEleve" class="filtre-priorite">Elevée</span>
                <span id="filtreDesactiver" class="filtre-priorite">Désactiver</span>
            </div>
        </label>
        <label id="bouton-trier">
            <input class="bouton-header" type="button" value="Tri par date">
            <div id="menu-trier">
                <div class="sous-menu-trier">
                    <label class="option-tri">
                        <span id="valider-tri-creation-asc" class="tri-option">Date de création Croissant</span>
                    </label>
                    <label class="option-tri">
                        <span id="valider-tri-creation-desc" class="tri-option">Date de création Décroissant</span>
                    </label>
                    <label class="option-tri">
                    <span id="valider-tri-limite-asc" class="tri-option">Date limite Croissant</span>
                    </label>
                    <label class="option-tri">
                        <span id="valider-tri-limite-desc" class="tri-option">Date limite Décroissant</span>
                    </label>
                    <label class="option-tri">
                        <span id="trieDesactiver" class="tri-option">Désactiver</span>
                    </label>
                </div>
            </div>
        </label>
        <input class="bouton-header" type="button" value="Historique">
        <input class="bouton-header" type="button" value="Utilisateur">

        <input class="bouton-header" id="bouton-connexion" type="button" value="Connexion">

        {{#if user}}
        <form method="post" class="bouton-deconnexion"  action="/deconnexion">
            <input type="submit" id="bouton-deconnexion" class="bouton-header" value="Deconnexion" />
        </form>
        {{/if}}

    </nav>
</header>
<main>
    <div id="conteneur-tache">
        {{#each statuts}}
        <div id="statut-{{this.id}}" class="colonne-tache">
            <div class="entete-tache">{{this.nom}}</div>
            <!--utilisation de handlebar helper eq pour pouvoir faire (todo.statut_id == statut.id) -->
            <div class="todo">
                <ul>
                    {{#each ../todos}}
                    {{#if (eq this.statut_id ../this.id)}}
                    <li>
                        <p><a href="/details/{{this.id}}">{{this.titre}}</a></p>
                        <div class="priorite{{this.priorite.id}}"></div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
            <div class="bas-tache">
                <a href="/ajout_tache"><input type="button" class="ajouter-tache" value="+"></a>
            </div>
        </div>
        {{/each}}
    </div>
</main>