<header>
    <nav id="conteneur-bouton-header" class="barre_outils">
        <input class="bouton-header" type="button" value="Filtrage">
        <input class="bouton-header" type="button" value="Tri par date">
        <input class="bouton-header" type="button" value="Historique">
        <input class="bouton-header" type="button" value="Utilisateur">
    </nav>
</header>
<main>
    <div id="conteneur-tache">
        {{#each statuts}}
        <div id="statut-{{this.id}}" class="colonne-tache">
            <div class="entete-tache">{{this.nom}}</div>
            <!--utilisation de handlebar helper eq pour pouvoir faire (todo.statut_id == statut.id) -->
            <div class="todo">
                <ul>
                    {{#each ../todos}}
                    {{#if (eq this.statut_id ../this.id)}}
                    <li>
                    <p><a href="/details/{{this.id}}" class="detail-lien">{{this.titre}}</a></p>
                    <div class="priorite{{this.priorite.id}}"></div>
                    </li>
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
            <div class="bas-tache">
                <a href="/ajout_tache"><input type="button" class="ajouter-tache" value="+"></a>
            </div>
        </div>
        {{/each}}
    </div>
</main>